/* font:
font-family: 'Source Code Pro', monospace;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  background-color: #000000;
  box-sizing: border-box;
}

p {
  color: #fff;
}

.header {
  animation: moveInFromTop 2s ease-out;
  position: relative;
}

.header__logo {
  height: 75vh;
  width: 75vw;
}

.header__p {
  width: 75%;
  text-align: center;
  display: inline-block;
  font-family: 'Source Code Pro', monospace;

  animation: moveInFromBottom 2s ease-out;
}

.header__btn {
  display: block;
  position: relative;
  margin: 1.5rem auto;
  padding: 0.75rem;
  border-radius: 10rem;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;

  animation: moveInFromBottom 2s ease-out;
}

.header__btn:hover {
  transform: translateY(-0.2rem);
}

@keyframes moveInFromTop {
  0%{
    opacity: 0;
    transform: translateY(-10rem);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromBottom {
  0%{
    opacity: 0;
    transform: translateY(10rem);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}