/* font:
font-family: 'Source Code Pro', monospace;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  font-family: 'Source Code Pro', monospace;
  color: #fff;
  margin: auto;
}

body {
  background-color: #000000;
  box-sizing: border-box;
}

p {
  color: #fff;
}

.header {
  animation: moveInFromTop 2s ease-out;
  position: relative;
}

.header__logo {
  height: 70vh;
  width: 70vw;
}

.header__p {
  width: 75%;
  text-align: center;
  display: inline-block;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5rem;
  font-weight: 400;

  animation: moveInFromBottom 2s ease-out;
}

.header__btn {
  display: block;
  position: relative;
  margin: 1.5rem auto;
  padding: 0.75rem;
  border-radius: 10rem;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  font-size: 2rem;

  animation: moveInFromBottom 2s ease-out;
}

.header__btn:hover {
  transform: translateY(-0.2rem);
}

.formDiv {
  padding: 5 rem;
  margin: 1rem 33vw;
  border: 0.25rem solid white;
  border-radius: 2rem;

  animation: moveInFromBottom 1s ease-out;
}

.formDiv__form--label {
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}

.formDiv .formDiv__form--label {
  font-size: 3rem;
}

input[type=text] {
  margin: 2rem;
  padding: 1.5rem 2.2rem;
  font-size: 2.5rem;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}


@keyframes moveInFromTop {
  0%{
    opacity: 0;
    transform: translateY(-10rem);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromBottom {
  0%{
    opacity: 0;
    transform: translateY(10rem);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}