* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #000000;
  box-sizing: border-box;
}

p {
  color: #fff;
}

.header {
  animation: moveInFromTop 1s ease-out;
  position: relative;
}

.header__logo {
  height: 75vh;
}

.header__p {
  width: 75%;
  text-align: center;
  display: inline-block;

  animation: moveInFromBottom 1s ease-out;
}

.header__btn {
  display: block;
  position: relative;
  margin: 15px auto;
  padding: 7.5px;
  border-radius: 10rem;

  animation: moveInFromBottom 1.25s ease-out;
}

@keyframes moveInFromTop {
  0%{
    opacity: 0;
    transform: translateY(-10rem);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromBottom {
  0%{
    opacity: 0;
    transform: translateY(10rem);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}